@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;900&family=Space+Mono:wght@400;700&display=swap');

* {
    font-family: Space Mono;
    font-size: 24px;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
    --cyan-primary: hsl(172, 67%, 45%);
    --cyan-very-dark: hsl(183, 100%, 15%);
    --cyan-grayish: hsl(184, 14%, 56%);
    --cyan-grayish-dark: hsl(186, 14%, 43%);
    --cyan-grayish-light: hsl(185, 41%, 84%);
    --cyan-grayish-very-light: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

    --spacing-200: .5rem;
    --spacing-400: 1.2rem;

    --border-radius-200: .25rem;
    --border-radius-400: 1rem;
}

body {
    background-color: var(--cyan-grayish-light);
    height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}
/* @media(min-width: 768px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
} */

h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--cyan-grayish-dark);
    margin: 1rem 0;
    letter-spacing: 6px;
}

#calculator-main {
    background-color: var(--white);
    padding: var(--spacing-400);
    border-radius: var(--border-radius-400);
}
@media(min-width: 768px) {
    #calculator-main {
        height: 450px;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;

        display: flex;
        gap: 3rem;
    }

    .input-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .summary-section {
        width: 50%;
    }
}

.input-single-part {
    margin-bottom: var(--spacing-400);
}
@media(min-width: 768px) {
    .input-single-part {
        margin-bottom: 0;
    }
}

.input-single-part > h2 {
    font-size: .7rem;
    color: var(--cyan-grayish-dark);
}

#bill-field {
    background-image: url(images/icon-dollar.svg);
}
#people-number {
    background-image: url(images/icon-person.svg);
}

.input-number {
    width: 100%;
    padding: 5px var(--spacing-200);
    margin-top: 5px;
    text-align: right;
    color: var(--cyan-very-dark);

    border-radius: var(--border-radius-200);
    background-color: var(--cyan-grayish-very-light);
    
    background-repeat: no-repeat;
    background-position-x: .5em;
    background-position-y: 50%;
    font-weight: bold;

    outline: none;
    border: none;
}

.input-number::placeholder {
    color: var(--cyan-grayish);
}

/* SELECT TIPS */
.tips-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: var(--spacing-200);
}
@media(min-width: 768px) {
    .tips-grid {
        grid-template-columns: repeat(3, calc(100% / 3));
    }
}

.tip-option {
    font-weight: bold;
    text-align: center;
    border-radius: var(--border-radius-200);
}

.tip-input {
    /* position: absolute; */
    /* visibility: hidden; */
    display: none;
}
.tip-label {
    width: 100%;
    height: 100%;
    display: inline-block;

    background-color: var(--cyan-very-dark);
    color: var(--cyan-grayish-very-light);
    padding: .2em;
    border-radius: var(--border-radius-200);
    transition: all .2s;
}

.tip-input:checked + .tip-label {
    background-color: var(--cyan-primary);
    color: var(--cyan-very-dark);
}

#tip-input-custom {
    width: 100%;
    text-align: right;
    outline: none;
    border: none;
    background-color: inherit;
    font-weight: bold;
    color: var(--cyan-very-dark);
    padding-right: .5em;
}

.tip-label:has(#tip-input-custom) {
    background-color: var(--cyan-grayish-very-light);
}


/* SUMMARY */
.summary-section {
    background-color: var(--cyan-very-dark);
    border-radius: var(--border-radius-400);
    padding: var(--spacing-400);
}
@media(min-width: 768px) {
    .summary-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.summary-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: var(--spacing-400);
    margin-bottom: var(--spacing-400);
}

.desc h2 {
    color: var(--white);
    font-size: .7rem;
}
.desc p {
    color: var(--cyan-grayish-dark);
    font-size: .6rem;
    font-weight: bold;
}

.amount, .tip-per-person, .tip-total {
    text-align: right;
    color: var(--cyan-primary);
    font-weight: bold;
    font-size: 1.25rem;
}
@media(min-width: 768px) {
    .amount, .tip-per-person, .tip-total {
        font-size: 1.75rem;
    }
}

.reset-button {
    width: 100%;
    border-radius: var(--border-radius-200);
    background-color: var(--cyan-primary);
    color: var(--cyan-very-dark);
    font-weight: bold;
    padding: .3em;
    outline: none;
    border: none;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: var(--cyan-very-dark);
    margin-top: var(--spacing-400);
    border-radius: var(--border-radius-400) var(--border-radius-400) 0 0;
    color: var(--white);
    padding: .5rem var(--spacing-400);
}
@media(min-width: 768px) {
    footer {
        width: 100%;
        max-width: 900px;
        margin: 1.5rem auto 0 auto;
    }
}

.attribution { 
    text-align: center; 
}
.attribution p {
    color: var(--cyan-grayish);
}
.attribution p, .attribution a {
    font-size: .65rem;
}
.attribution a { 
    color: var(--white); 
}